---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import FeaturesList from '~/components/FeaturesList.astro';
const metadata = {
  title: 'History',
};
---

<Layout metadata={metadata}>
  <Content
    isReversed
    image={{
      src: '~/assets/images/irimi200.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        History
      </h3>
      Aikido is a Japanese movement form developed from traditional martial arts of
      earlier centuries. The aim of those traditional martial arts was, in a time full
      of violence and danger, to survive an attack and disable an enemy. To achieve
      this it was not only important to be able to perform good techniques, but also
      to master one's nerves. That is why so much attention was paid to exercises for
      attaining inner calm and harmony. These old martial arts form the basis of
      present-day aikido. Today one no longer tries to harm an opponent, but to
      neutralise their attack by turning their own strength against them.
    </Fragment>
  </Content>

  <FeaturesList />
</Layout>
