---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData } from '~/navigation';
import SideLogo from '~/assets/images/side-logo.svg';
import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} isSticky doNotshowRssFeed showToggleTheme position=left />
  </slot>
  <main>
    <div class="flex flex-row">
      <div class="mx-8 hidden md:block">
        <div class="sticky top-20">
          <SideLogo class="hidden dark:block" fill="white" />
          <SideLogo class="block dark:hidden" fill="navy" />
        </div>
      </div>
      <div class="grow">
        <slot />
      </div>
    </div>
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
